<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data android:name="com.schinizer.hackernews.startup.FlipperClientInitializer"
                android:value="androidx.startup" />
            <meta-data android:name="com.schinizer.hackernews.startup.SoLoaderInitalizer"
                android:value="androidx.startup" />
        </provider>

        <activity
            android:name="com.facebook.flipper.android.diagnostics.FlipperDiagnosticActivity"
            android:exported="true" />
    </application>
</manifest>
